.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: #F7F5FA;
  transition: all 0.5s linear;
  .logo {
    width: 75px;
  }
  .navbar-collapse {
    .navbar-nav {
      margin: 0 auto;
      .nav-item {
        margin-inline-end: .5rem;
        .nav-link {
          font-family: "regular";
          &.active {
            font-family: "medium";
          }
        }
      }
    }
    .SecondaryButton {
      margin-inline-end: 1rem;
    }
  }
  &.scrolled {
    background-color: rgba($color: #F7F5FA, $alpha: 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: all 0.5s linear;
  }
}