@media only screen and (max-width: 600px) {
  .header {
    padding: 2rem 0;
    .statistics {
      width: 100%;
      flex-direction: column;
      position: unset;
      margin-top: 2rem;
      .statistic {
        width: 80%;
        margin: 0 auto 1rem;
        &:last-child {
          margin-inline-end: auto;
        }
      }
    }
  }
  .about {
    margin-top: 5rem;
    .title {
      &::after {
        left: 0;
      }
    }
  }
  .features {
    .card_feature {
      margin-bottom: 1rem;
    }
    .video-js {
      height: 300px;
    }
  }
  .discover_academic {
    .text {
      h2 {
        font-size: 1.2rem;
      }
      p {
        font-size: .7rem;
      }
    }
    .discovers {
      .discover_card {
        width: 48%;
        padding: 1rem;
        &:nth-child(3n) {
          margin-inline-end: 2%;
        }
        &:nth-child(2n) {
          margin-inline-end: 0;
        }
        span {
          font-size: .7rem;
        }
      }
    }
  }
  .subscribe {
    form {
      margin-top: 2rem;
    }
  }
  .students_say_about .swiper .swiper-button-next, .students_say_about .swiper .swiper-rtl .swiper-button-prev {
    right: 15%;
  }
  .students_say_about .swiper .swiper-button-prev, body .students_say_about .swiper .swiper-rtl .swiper-button-next {
    right: 2%;
  }
  .single_course .video-js {
    height: 300px;
  }
  .single_course .details_course .tab-content .tab-pane .list_live .live_card {
    width: 100%;
    margin-inline-end: 0;
  }
  .profile {
    flex-direction: column;
    .sidebar {
      width: 100%;
      height: fit-content;
      min-height: fit-content;
      padding: 1rem;
      .side-nav {
        margin-bottom: 0;
        .nav-item {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .my_course {
      width: 100%;
      margin: 0;
      .courses {
        padding: 2rem 1rem;
        .card_course {
          img {
            height: 250px;
          }
        }
      }
    }
    .my_single_course {
      .single_course {
        padding: 1.5rem 1rem;
        margin: 0;
      }
    }
  }
  footer {
    .logo-col {
      img {
        width: 30%;
      }
    }
  }
}
